In [ ]:
# Imputer(missing_values=’NaN’, strategy=’mean’) is a function. 
# It’s role is to transformer parameter value from missing values(NaN) to set strategic value.
import pandas as pd
import numpy as np

In [23]:
ds=pd.read_csv('/Users/aruniscrazy/Desktop/myWorks/ml_learns/dataset/Data_Preprocessing/missing_data/Data_for_Missing_Values.csv')
ds.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [24]:
ds.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [25]:
# All rows but all columns except last 
X = ds.iloc[:, :-1].values 
  
# TES 
# All rows but only last column  
Y = ds.iloc[:, 3].values

In [29]:
# We will use sklearn library >> preprocessing package 
# Imputer class of that package 
from sklearn.impute import SimpleImputer

# Using Imputer function to replace NaN 
# values with mean of that parameter value 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
                    
# Fitting the data, function learns the stats 
imputer = imputer.fit(X[:, 1:3]) 
  
# fit_transform() will execute those 
# stats on the input ie. X[:, 1:3] 
X[:, 1:3] = imputer.fit_transform(X[:, 1:3]) 
  
# filling the missing value with mean 
print("\n\nNew Input with Mean Value for NaN : \n", X)

New Input with Mean Value for NaN :
 [['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]